# Exclude Terraform state files
*.tfstate
*.tfstate.*

# Exclude Terraform variable files
*.tfvars
*.tfvars.json

# Exclude Terraform plan files
plan.out

# Exclude Terraform lock file
terraform.lock.hcl

# Exclude macOS system files
.DS_Store
**/.DS_Store

# Exclude .terraform directories
.terraform/
**/.terraform/
